body {
  font-family: 'Merriweather', serif;
  margin-top: 70px;
  font-size: 1em;
  background-image: url('http://i.imgur.com/ksZjvyn.jpg');
	background-repeat: no-repeat;
	background-position: center 50px;
}

h1, h2, h3, h4, h5, h6 {
  color: #475b62;
  text-shadow: 1px 1px rgba(255,255,255, 1);
  margin: 0;
}