@media (max-width: 768px) { 
  .container { 
    padding: 0; 
  }
  .room { 
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 0;
    bottom: 0;
    
    .chat-window {
      max-height: 1000px;
      position: absolute;
      top: 75px;
      left: 0;
      bottom: 50px;
      width: 100%;
      margin: 0 auto;
    }

    form {
      position: absolute;
      bottom: 10px;
      margin-right: 10px;
    }
  }
}