@import url(http://fonts.googleapis.com/css?family=Merriweather:400,400italic);

@import 'reset';
@import 'variables';
@import 'base';
@import 'animations';
@import 'media';

/* Alert and Error styles */

.error {
  color: $red;
}

.ng-dirty.ng-invalid {
  border-color: $red;
}

.ng-dirty.ng-valid {
  border-color: $green;
}

.alert {
  margin-top: 10px;
}

.alert a {
  margin-left: 20px;
}

/* Container styles */

//.user-topbox, .user-stacks, .register, .login, .stack-top, .stack-bottom
.box {
  background-color: rgba(240, 240, 240, 0.8);
  text-align: center;
  border-radius: 6px;
  box-shadow: 3px;
}

.user-topbox, .user-stacks, .register, .login, .stack-top, .stack-bottom {
	@extend .box;
}

/* Form Styles */

input {
  color: #475B62;
  background: rgba(255,255,255,1);
  border: 1px solid white;
  border-radius: 10px;
  outline: 0;
  padding: 4px;
}

/* Buttons */

.btn {
  transition: all 0.5s;
  border-radius: 5px;
  
  :hover { background-color: $darkgray; }
}

/* Navbar */

.navbar-nav {
  font-size: 1.4rem;
}

/*
 * Page styles
 */

/* Welcome page */

.jumbotron {
  margin: 0 auto;
  text-align: center;
  background-color: rgba(240,240,240,0.9);
}

.jumbotron span {
  font-size: 1.4em;
} 

.jumbotron .btn-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.quote {
  margin: 0 auto;
  width: 300px;
  text-align: left;
  color: #888888;
}

.welcome-form {
  margin: 10px auto;
  width: 50%;
}

.error-message {
  color: $red;
}

/* Room page */

.room {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
  background-color: #eee;
  opacity: 0.9;
  border-radius: 6px;
  box-shadow: 3px 3px 9px #000;
}

.chat-header {
  border-bottom: 1px solid #999999;
  padding-bottom: 10px;
  padding-right: 10px;
  h1 { float: left; }
}

.chat-window {
  background-color: #ffffff;
  border: 1px solid #ddd;
  min-height: 100px;
  max-height: 300px;
  overflow: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.name-input {
  width: 30%;
  margin-left: auto;
  span { font-size: 1.2em; }
}
.message {

	.message-user {
  	font-size: 1.2rem;
  	color: #aaaaaa;
	}

	.message-body {
  	font-size: 1.4rem;
  	margin-left: $message-margin;
  	
  	animation-duration: 0.5s;
  	animation-name: slidein;
  	animation-timing-function: ease;
  }	
}


