@import url(http://fonts.googleapis.com/css?family=Merriweather:400,400italic);
ol, ul {
  list-style: none; }

a img {
  border: none; }

body {
  font-family: 'Merriweather', serif;
  margin-top: 70px;
  font-size: 1em;
  background-image: url("http://i.imgur.com/ksZjvyn.jpg");
  background-repeat: no-repeat;
  background-position: center 50px; }

h1, h2, h3, h4, h5, h6 {
  color: #475b62;
  text-shadow: 1px 1px white;
  margin: 0; }

@keyframes slidein {
  from {
    margin-left: 30%;
    opacity: 0; }
  to {
    margin-left: 2%;
    opacity: 1; }
  50% {
    opacity: 0.5; } }

@media (max-width: 768px) {
  .container {
    padding: 0; }
  .room {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 0;
    bottom: 0; }
    .room .chat-window {
      max-height: 1000px;
      position: absolute;
      top: 75px;
      left: 0;
      bottom: 50px;
      width: 100%;
      margin: 0 auto; }
    .room form {
      position: absolute;
      bottom: 10px;
      margin-right: 10px; } }

/* Alert and Error styles */
.error {
  color: #D11404; }

.ng-dirty.ng-invalid {
  border-color: #D11404; }

.ng-dirty.ng-valid {
  border-color: #21D153; }

.alert {
  margin-top: 10px; }

.alert a {
  margin-left: 20px; }

/* Container styles */
.box, .user-topbox, .user-stacks, .register, .login, .stack-top, .stack-bottom {
  background-color: rgba(240, 240, 240, 0.8);
  text-align: center;
  border-radius: 6px;
  box-shadow: 3px; }

/* Form Styles */
input {
  color: #475B62;
  background: white;
  border: 1px solid white;
  border-radius: 10px;
  outline: 0;
  padding: 4px; }

/* Buttons */
.btn {
  transition: all 0.5s;
  border-radius: 5px; }
  .btn :hover {
    background-color: #A0A0A0; }

/* Navbar */
.navbar-nav {
  font-size: 1.4rem; }

/*
 * Page styles
 */
/* Welcome page */
.jumbotron {
  margin: 0 auto;
  text-align: center;
  background-color: rgba(240, 240, 240, 0.9); }

.jumbotron span {
  font-size: 1.4em; }

.jumbotron .btn-group {
  margin-top: 10px;
  margin-bottom: 10px; }

.quote {
  margin: 0 auto;
  width: 300px;
  text-align: left;
  color: #888888; }

.welcome-form {
  margin: 10px auto;
  width: 50%; }

.error-message {
  color: #D11404; }

/* Room page */
.room {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
  background-color: #eee;
  opacity: 0.9;
  border-radius: 6px;
  box-shadow: 3px 3px 9px #000; }

.chat-header {
  border-bottom: 1px solid #999999;
  padding-bottom: 10px;
  padding-right: 10px; }
  .chat-header h1 {
    float: left; }

.chat-window {
  background-color: #ffffff;
  border: 1px solid #ddd;
  min-height: 100px;
  max-height: 300px;
  overflow: auto;
  padding: 10px;
  margin-bottom: 10px; }

.name-input {
  width: 30%;
  margin-left: auto; }
  .name-input span {
    font-size: 1.2em; }

.message .message-user {
  font-size: 1.2rem;
  color: #aaaaaa; }

.message .message-body {
  font-size: 1.4rem;
  margin-left: 2%;
  animation-duration: 0.5s;
  animation-name: slidein;
  animation-timing-function: ease; }
