<section>
<div class="container">
	<div class="room">
		<div class="chat-header row">
			<div class="col-sm-6">
				<h1>{{room.name}}</h1>
			</div>
			<div class="input-group name-input col-sm-6">
				<span for="username">username</span>
				<input type="text" name="user" class="form-control" id="username" placeholder="username:"
					ng-model="user.name" 
					ng-required="true"
					ng-maxlength="25">
				<span class="input-group-btn">
			    <button class="btn btn-default" type="button" ng-click="changeName()" ng-show="">change</button>
				</span>
			</div><!-- input-group -->
		</div><!-- chat-header -->
		
		<div class="chat-window">
			<div class="message" ng-repeat="(key, log) in logs | orderBy:'-date' | limitTo: 50">
				<p>
					<span class="message-user">{{log.user}}<span>
					<span class="message-date pull-right">{{log.date | date:'shortTime'}}</span>
				</p>
				<p class="message-body">{{log.text}}</p>
			</div><!-- message -->
		</div><!-- chat-window -->
		<form name="myForm" ng-submit="addLog()" 
			novalidate>
			<div class="input-group">
				<input type="text" name="text" class="message-bar form-control" placeholder="message"
					ng-model="log.text" 
					ng-disabled="!user.name" autofocus>
				<span class="input-group-btn">
			    <button class="btn btn-primary" type="submit" 
			    	ng-disabled="!user.name">
			    	send</button>
				</span>
			</div>
		</form>
	</div><!-- room -->
</div><!-- container -->
</section>