<style>
	body {
		background-image: url('http://i.imgur.com/ksZjvyn.jpg');
		background-repeat: no-repeat;
		background-position: center 50px;
	}
</style>

<section>
	<div class="jumbotron">
		<h1>chirp</h1>
		<div class="quote">
			<span>/tʃɜːp/ </span>
			<blockquote>to speak in a lively fashion</blockquote>
		</div><!-- quote -->
		<div class="btn-group">
			<button type="button" class="btn btn-primary btn-sm" ng-click="inputToggle=false">Make a chat room</button>
			<button type="button" class="btn btn-default btn-sm" ng-click="inputToggle=true">Join a chat room</button>
		</div><!-- btn-group -->
		<form name="myForm" class="welcome-form" novalidate>
			<div class="input-group" ng-hide="inputToggle">
		    <input type="text" name="makeRoom" class="form-control" placeholder="Make room..."
		      ng-model="room.make" 
		      ng-minlength="2" 
		      ng-maxlength="30" 
		      ng-pattern="/^[\S]*$/">
		    <span class="input-group-btn">
		      <button class="btn btn-default" type="button" 
		        ng-click="makeRoom()" 
		        ng-disabled="myForm.$invalid">Make!</button>
	     	</span>
    	</div><!-- make room -->
    		<span class="error" ng-show="myForm.makeRoom.$error.pattern">
    			no spaces in your room name please</span>

	    	<div class="input-group" ng-show="inputToggle">
		      <input type="text" name="joinRoom" class="form-control" placeholder="Join room..."
		      	ng-model="room.join"
		      	ng-minlength="2" 
		      	ng-maxlength="30" 
		      	ng-pattern="/^[\S]*$/">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button" 
		        	ng-click="joinRoom()" 
		        	ng-disabled="myForm.$invalid">Join!</button>
		      </span>
	    	</div><!-- join room -->
		</form>
		<span ng-show="message">{{message}}</span>
	</div><!-- jumbotron -->
</section>