<style>
	body {
		background-image: url('http://i.imgur.com/ksZjvyn.jpg');
		background-repeat: no-repeat;
		background-position: center 50px;
	}
</style>
<section>
<div class="container">
	<div class="jumbotron">
		<h1>chirp</h1>
		<div class="quote">
			<span>/tʃɜːp/ </span>
			<blockquote>to speak in a lively fashion</blockquote>
		</div><!-- quote -->

		<div class="btn-group">
			<button type="button" class="btn btn-default btn-sm" 
				ng-show="join" 
				ng-click="toggle()">Make a chat room</button>
			<button type="button" class="btn btn-default btn-sm" 
				ng-hide="join" 
				ng-click="toggle()">Join a chat room</button>
		</div><!-- btn-group -->

		<form name="myForm" class="welcome-form" 
			ng-submit="makeRoom()" 
			ng-hide="join" novalidate>
			<div class="input-group" >
		    <input type="text" name="makeRoom" class="form-control" placeholder="Make a room..."
		      ng-model="name" 
		      ng-minlength="4" 
		      ng-maxlength="30">
		    <span class="input-group-btn">
		      <button class="btn btn-default" type="submit" 
		        ng-disabled="myForm.$invalid">Make!</button>
	     	</span>
    	</div><!-- make room -->

			</form><!-- welcome-form -->
			<form name="myForm" class="welcome-form" 
				ng-submit="joinRoom()" 
				ng-show="join" novalidate>
	    	<div class="input-group" >
		      <input type="text" name="joinRoom" class="form-control" placeholder="Join a room..."
		      	ng-model="name"
		      	ng-minlength="4">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="submit" 
		        	ng-disabled="myForm.$invalid">Join!</button>
		      </span>
	    	</div><!-- input-group -->
			</form><!-- welcome-form -->
		<span ng-show="message" class="error-message">{{message}}</span>
	</div><!-- jumbotron -->
</div><!-- container -->	
</section>
